<!DOCTYPE html>
<html lang="pt-Br">
<head>

    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login</title>

    <link rel="stylesheet" th:href="@{css/components.css}">

</head>

<body>

    <form th:action="@{/web/login}" method="post">

        <div th:replace="~{components/input-text :: inputText('E-mail', 'login')}"></div>
        <div th:replace="~{components/input-text :: inputText('Senha', 'senha')}"></div>

        <div th:replace="~{components/button :: primary('Entrar')}"></div>

        <p th:if="${erro}" th:text="${erro}"></p>

    </form>

</body>

<script th:src="@{js/login.js}"></script>

</html>